.nova/
vendor/
lab/
tools/
build/
docs/*
!docs/configuration.md

# PHP-CS-Fixer
.php_cs.cache
.php-cs-fixer.cache

# PHPUnit
.phpunit.result.cache
.phpunit.cache

# Composer
composer.phar

# phpDocumentor
.phpdoc/
phpDocumentor.phar

# Windows
Thumbs.db

# macOS
.DS_Store

# IDE
.vscode/
.idea/
qodana.yaml

index.php
