.nova/
vendor/
lab/
tools/
build/
docs/

# PHP-CS-Fixer
.php_cs.cache
.php-cs-fixer.cache

# PHPUnit
.phpunit.result.cache

# Composer
composer.lock
composer.phar

# phpDocumentor
.phpdoc/

# Windows
Thumbs.db

# macOS
.DS_Store

# IDE
.vscode/
.idea/
qodana.yaml

