<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="ParsedownExtended Test Suite">
            <directory>./tests</directory>
            <exclude>./tests/fixtures/CommonMarkComparisonTest.php</exclude>
            <exclude>./tests/fixtures/CommonMarkTestStrict.php</exclude>
            <exclude>./tests/fixtures/CommonMarkTestWeak.php</exclude>
        </testsuite>
    </testsuites>
</phpunit>
