$primary-text-color: #adbac7;

$body-background-color: #22272e;
$sidebar-color: #2d333b;
$border-color: #444c56;

$body-text-color: $primary-text-color;
$body-heading-color: $primary-text-color;
$nav-child-link-color: $primary-text-color;
$search-result-preview-color: $primary-text-color;

$link-color: #539bf5;
$btn-primary-color: #316dca;
$base-button-color: $grey-dk-250;

$code-background-color: #2d333b;
$search-background-color: #2d333b;
$table-background-color: #2d333b;
$feedback-color: darken($sidebar-color, 3%);

$kbd-primary-background-color: #22272e;
$kbd-background-color: #373e47;
$kbd-border-color: #343940;
