<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">

  <link rel="stylesheet" href="{{ '/assets/css/docs-default.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/materialdesignicons.min.css' | relative_url }}">



  {% if site.search_enabled != false %}
    <script type="text/javascript" src="{{ '/assets/js/vendor/lunr.min.js' | relative_url }}"></script>
  {% endif %}

  <script type="text/javascript" src="{{ '/assets/js/docs.js' | relative_url }}"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
